.about {
    padding: rhythm(2) 0 0;
    &__wrap {
        overflow: hidden;
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .about {
        padding: rhythm(4) 0;
        &__wrap {
            float:right;
        }
        &__desc {
            float:left;
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
