.contact {
    padding: 0 0 rhythm(0.5);
    &__wrap {
        overflow: hidden;
    }
    &__info {
        & h2,
        h5 {
            margin-bottom: rhythm(2);
        }
    }
    &__form {
        position: relative;
        height: rhythm(15);
    }
    &__title {
        margin-bottom: rhythm(1);
    }
    &__subtitle {
        margin-bottom: rhythm(1);
    }
    // & .button {
    //     margin-top: rhythm(2);
    // }
    // &__fieldset {
    //     position: absolute;
    //     width: 100%;
    //     display: table;
    //     &:not(:first-of-type) {
    //         display: none;
    //     }
    // }
    // &__slider {
    //     margin-bottom: rhythm(1);
    //     & .noUi-base {
    //         background: $primary;
    //     }
    //     & .noUi-connect {
    //         background: $primary;
    //     }
    //     & .noUi-origin {
    //         background: linear-gradient( to right, $secondary, $secondary 50%, $primary 50%, $primary );
    //         background-size: 10px 100%;
    //         &:nth-child(2) {
    //             background: $primary;
    //             & .noUi-handle {
    //                 border-right: 5px solid $primary;
    //                 border-left: none;
    //             }
    //         }
    //     }
    //     & .noUi-target {
    //
    //     }
    //     & .noUi-target.noUi-connect {
    //
    //     }
    //     /* Handles and cursors; */
    //     & .noUi-dragable {
    //         cursor: w-resize;
    //     }
    //     & .noUi-vertical .noUi-dragable {
    //         cursor: n-resize;
    //     }
    //     & .noUi-handle {
    //         background: none;
    //         border-top: 5px solid $primary;
    //         border-bottom: 5px solid $primary;
    //         border-left: 5px solid $primary;
    //     }
    //     & .noUi-active {
    //
    //     }
    //     /* Disabled state; */
    //     & [disabled].noUi-connect,
    //     & [disabled] .noUi-connect {
    //         background: #b8b8b8;
    //     }
    //     & [disabled] .noUi-handle {
    //         cursor: not-allowed;
    //     }
    // }
    &__map {
        height: rhythm(15);
        margin:0 0 rhythm(2) 0;
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .contact {
        padding: 0 0 rhythm(4);

        &__map {
            min-height:rhythm(25);
            margin:0;
        }

        &__desc {
            padding:gutter() * 4;
        }

    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
