.employees {
    &__employee {
        margin-bottom: rhythm(4);

        &:nth-last-child {
            margin-bottom:0;
        }
    }
    &__model {
        position: relative;
        width: span(10);
        height: span(10);
        margin-left: span(1);
        border-radius: 50%;
        overflow: hidden;
        background: $primary;
    }
    &__desc {
        display: inline-block;
        float: right;
        transform: translatey(- rhythm(1));
        margin-right: span(1);
        background: $secondary;
        & > * {
            border-top: $thinBorder;
            border-left: $thinBorder;
            border-right: $thinBorder;
            padding: rhythm(.5);
            &:last-child {
                border-bottom: $thinBorder;
            }
        }
        & small {
            text-transform: lowercase;
        }
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .employees {
        &__employee {
            margin-bottom: rhythm(3);

            &:nth-last-child {
                margin-bottom:rhythm(3);
            }
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
