.landing {
    padding: rhythm(3) 0 rhythm(2);
    &__wrap {
        position: relative;
        & video {
            display:none;
        }
    }
    &__splash-text {
        color: $secondary;
        padding:rhythm(1) rhythm(.5) rhythm(2);
        text-transform: uppercase;
        width:calc( 100% + 1.625rem);
        margin-left:- rhythm(0.5);
        background:$primary;

        & h1 {
            @include adjust-font-size-to(ms(3));
        }
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .landing {
        padding: rhythm(4) 0 rhythm(4);

        &__wrap {
            overflow: hidden;
            height:100%;
            & video {
                @include centerer();
                width: 100%;
                float: left;
                display:block;
            }
        }
        &__splash-text {
            @include centerer();
            background:none;
            width: span(10);
            padding: rhythm(1);
            border: $thinBorderWhite;

            & h1 {
                @include adjust-font-size-to(ms(4),2.6);
                text-align:center;
            }
        }
    }
}
@include breakpoint($medium) {
    .landing {
        &__splash-text {
            width:span(6);
        }
    }
}
@include breakpoint($large) {

}
