.work {
    padding-bottom: rhythm(2);
    &__item {
        background: $primary;
        background-size: cover;
        background-position: center;
        position: relative;
        padding:rhythm(8) rhythm(1) rhythm(1) rhythm(1);
        margin-bottom:rhythm(0.5);
        & a {
            display: block;
            height: 100%;
            overflow: hidden;
        }
    }
    &__info {
        color: $secondary;
        width: span(12);
        border-bottom: $thinBorderWhite;
        overflow: hidden;
        position:relative;
        z-index:10;
    }
    &__coverer {
        @include coverer;
        background: $primary;
        opacity: 0.8;
    }
    &__link {
        float: right;
        width: rhythm(2);
    }
    &__row {
        width: 100%;
        border-top: $thinBorderWhite;
        border-left: $thinBorderWhite;
        border-right: $thinBorderWhite;
        float: left;
    }
    &__label,
    &__val {
        padding: rhythm(.5);
        display: inline-block;
    }
    &__label {
        font-weight: 700;
        width: span(4);
        border-right: $thinBorderWhite;
    }
    &__val {
        text-transform: uppercase;
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .work {
        padding-bottom: rhythm(6);
        &__item {
            margin-bottom:rhythm(0);
            padding:0;
            height:rhythm(26);
            &:hover {
                & .work__coverer {
                    opacity: 0.3;

                }
                & .work__info {
                    opacity: 0;
                }
            }
        }
        &__info {
            width: span(7);
            position: absolute;
            bottom: rhythm(1);
            left: rhythm(1);
            transition: all 0.6s $easingFast;
        }
        &__coverer {
            transition: all 1.2s $easingFast;
            transition-delay: 0.3s;
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
