.button {
  text-transform: uppercase;
  border: none;
  display: block;
  transition: 0.2s ease-out;
  transform-style: preserve-3d;
  display: inline-block;
  height: 58px;

  &__first-side,
  &__second-side {
    width: 100%;
    padding: rhythm(0.5) rhythm(2);
    border: 5px solid $primary;
    text-align: center;
  }
  &__first-side {
    background: $secondary;
    transform: translateZ(29px);
    transition: background 0.4s ease-out;
    transform-origin: center top;
  }
  &__second-side {
    background: $primary;
    color: $secondary;
    transform: rotateX(90deg) translateZ(87px);

  }
  &:hover {
    transform: rotateX(-89deg);

    & .button__first-side {
      background: $primary;
    }
  }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {

}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
