.loading {
    width: 100%;
    @include coverer;
    position: fixed;
    &__indicator {
        width: rhythm(2);
        height: rhythm(2);
        @include centerer;
        & img {
            @include centerer;
            opacity: 0.8;
        }
    }
}
.error404 {

}
.vanishAfterScroll {
    transition: opacity 0.6s $easingFast;
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {

}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
