input,
textarea {
  max-width: 100%;
  min-width: 50%;
  border-bottom: none;
  padding: rhythm(.5);
  @include adjust-font-size-to(ms(0));
  border: none;
  outline: none;
}
textarea {
  height: rhythm(6);
  @include adjust-font-size-to(ms(0));
  width: 100%;
  border: $thinBorder;
}
input {
  float: left;
}
label {
  float: left;
  padding: rhythm(.5);
  font-weight: 700;
  border-right: $thinBorder;
}
.form__row {
  border-top: $thinBorder;
  border-left: $thinBorder;
  border-right: $thinBorder;
  width: 100%;
  overflow: hidden;

  &:last-child {
    border-bottom: $thinBorder;
  }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {

}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
