.site-header {
    width: 100%;
    position: fixed;
    background:$primary;
    height: rhythm(3);
    overflow: hidden;
    transition: all 0.3s;
    z-index: 9999;
    &--expanded,
    &--scrolled {
        & .vanishAfterScroll {
            opacity: 1;
        }
    }
    &__logo {
        height: rhythm(1.5);
        margin-left: rhythm(0.5);
        @include centererY;
        & a {
            display: inline-block;
            line-height: 1;
            border:none;
        }
        & .main__symbol {
            width: rhythm(1);
            height: rhythm(1.5);
            fill:$secondary;
            transition:all 0.4 $easingFast;
        }
        & .main__logo {
            max-height: 100%;
            display: inline-block;
            width: rhythm(4);
            margin-left: rhythm(0.5);
            fill:$secondary;
        }
    }
    &__menu-btn {
        overflow: hidden;
        @include centererY;
        right: rhythm(0.5);
        & > span {
            text-transform: uppercase;
            float: right;
            display:none;
        }
    }
}
@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .site-header {
        width: 100%;
        position: fixed;
        top: rhythm(1.3);
        height: rhythm(2);
        background:none;
        &--expanded,
        &--scrolled {
            & .vanishAfterScroll {
                opacity: 0;
            }
        }
        &--expanded {
            top: rhythm(4);
        }
        &__logo {
            height: rhythm(1.5);
            margin-left: rhythm(1.8);
            @include centererY;
            & a {
                display: inline-block;
                line-height: 1;
            }
            & .main__symbol {
                background:$secondary;
                fill:$primary;
                transition:all 0.6 $easingFast;
            }
            & .main__logo {
                width: rhythm(6);
                margin-left: rhythm(1.5);
                fill:$primary;
            }
        }
        &__menu-btn {
            right: rhythm(1.8);
            width: rhythm(8);
            & > span {
                display:block;
                font-weight:600;
            }
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
