@include establish-baseline;
::selection {
    background: $primary;
    color: $secondary;
    opacity: 1;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
}
ul {
    margin-bottom: rhythm(1);
}
.main-container {
    opacity: 0;
}
.wrapper {
    width: 100%;
    padding: 0 rhythm(0.5);
}
.container {
    @include container();
    position: relative;
}
.col {
    &-4 {
        @include span(12);
    }
    &-6 {
        @include span(12);
    }
    &-8 {
        @include span(12);
    }
    &-12 {
        @include span(12);
    }
}
.scrollbar {
    position: relative;
    overflow: hidden;
    &__container {
        width: 100%;
    }
}
.section {
    &__title {
        display:none;
        @include adjust-font-size-to(ms(0));
        text-transform: lowercase;
        font-weight: 300;
        color: $primary;
        margin:0 0 rhythm(2) rhythm(1);
        position:relative;
        &:before {
            content: "";
            height: rhythm(0.1);
            background: $primary;
            width: rhythm(2);
            position: absolute;
            top: 50%;
            transform: translate( - rhythm(2.5), -50%);
        }
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {
    .wrapper {
        border: $thinBorder2;
        padding: 0 rhythm(1);
    }
}
@include breakpoint($normal) {
    .col {
        &-4 {
            @include span(6 of 12);
        }
        &-8 {
            @include span(6 of 12);
        }
        &-12 {
            @include span(12 of 12);
        }
    }
    .gallery {
        &-4 {
            @include gallery(6 of 12);
        }
        &-6 {
            @include span(12);
        }
    }
    .section {
        &__title {
            transform: rotate(-90deg) translate( -100%, - rhythm(2.5));
            top: 0;
            position: absolute;
            transform-origin: left top;
            margin:0 0 rhythm(2) 0;
        }
    }
    .wrapper {
        padding: 0 rhythm(4);
    }
}
@include breakpoint($medium) {
    .col {
        &-4 {
            @include span(4);
        }
        &-6 {
            @include span(6);
        }
        &-8 {
            @include span(8);
        }
    }
    .gallery {
        &-4 {
            @include gallery(4 of 12);
        }
        &-6 {
            @include gallery(6 of 12);
        }
    }
}
@include breakpoint($large) {

}
