.menu {
    width: span(12);
    padding: rhythm(.79);
    background: $primary;
    position: fixed;
    z-index: 1000;
    transform: translateY(-100%);
    transition: all 0.6s $easingFast;
    &--expanded {
        transform: translateY(rhythm(2));
    }
    & ul {
        overflow: hidden;
        margin:0;
        & li {
            float: left;
            width:span(12);
            margin:rhythm(0.5) 0;
            &:last-child {
                margin-right: 0;
            }
            & a {
                color: $secondary;
                text-transform: uppercase;
                padding: rhythm(.2) rhythm(.5);
                font-weight:600;
                display: block;
                transition: all 0.3s;
            }
            &.active {
                & a {
                    border: $thinBorderWhite;
                }
            }
        }
    }
    &__btn {
        width: rhythm(2);
        height: rhythm(1);
        margin-left: rhythm(1.5);
        float: right;
        position: relative;
        transition: all 0.3s $easingFast;
        cursor: pointer;
        & span {
            position: absolute;
            width: 100%;
            height: rhythm(.1);
            left: 0;
            background: $secondary;
            transition: all 0.3s $easingFast;
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                bottom: 0;
            }
        }
        &--close {
            height: rhythm(2);
            &:hover {
                height: rhythm(2);
            }
            & span {
                left: 0;
                &:first-child {
                    top: 50%;
                    left: 50%;
                    transform: rotate(45deg) translate(-50%, -50%);
                    transform-origin: top left;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    top: 50%;
                    left: 50%;
                    transform: rotate(-45deg) translate(-50%, -50%);
                    transform-origin: top left;
                }
            }
        }
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .menu {
        transform: translateY(- rhythm(3));
        height:rhythm(3);
        &--expanded {
            transform: translateY(0);
        }
        & ul {
            overflow: hidden;
            @include centererX;
            width:span(8);
            & li {
                width:auto;
                margin:0 rhythm(2) 0 0;
                &:last-child {
                    margin-right: 0;
                }
                & a {
                    color: $secondary;
                    text-transform: uppercase;
                    padding: rhythm(.2) rhythm(.5);
                    display: block;
                    transition: all 0.3s;
                }
                &.active {
                    & a {
                        border: $thinBorderWhite;
                    }
                }
            }
        }
        &__btn {
            width: rhythm(1);
            height: rhythm(1);
            margin-left: rhythm(1.5);
            float: right;
            position: relative;
            transition: all 0.3s $easingFast;
            cursor: pointer;
            &:hover {
                height: rhythm(1.5);
            }
            & span {
                position: absolute;
                width: 100%;
                height: rhythm(.15);
                left: 0;
                background: $primary;
                transition: all 0.3s $easingFast;
                background:$primary;
                &:first-child {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    bottom: 0;
                }
            }
            &--close {
                height: rhythm(2);
                &:hover {
                    height: rhythm(2);
                }
                & span {
                    left: 0;
                    &:first-child {
                        top: 50%;
                        left: 50%;
                        transform: rotate(45deg) translate(-50%, -50%);
                        transform-origin: top left;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:last-child {
                        top: 50%;
                        left: 50%;
                        transform: rotate(-45deg) translate(-50%, -50%);
                        transform-origin: top left;
                    }
                }
            }
        }
    }
}
@include breakpoint($medium) {
    .menu {
        & ul {
            width:auto;
        }
    }
}
@include breakpoint($large) {

}
