//Compass Vertical Rhythm
$base-font-family: "proxima-nova",sans-serif;
$base-font-size: 16px;
$base-line-height: 26px;
$rhythm-unit: rem;
$round-to-nearest-half-line: true;
//Modular Scale
$ms-base: 16px;
$ms-ratio: $major-third;
//Color
$green: #182a22;
$white: #fff;
$primary: $green;;
$secondary: $white;
//Susy
$susy: ( global-box-sizing: border-box, use-custom: (rem: true), columns: 12, gutters:1/2, gutter-position: inside );
//Breakpoint
$xsmall: 480px;
$small: 768px;
$normal: 1024px;
$medium: 1280px;
$large: 1400px;
//Various variables
$thickBorder: rhythm(1) solid $primary;
$thinBorder: rhythm(.1) solid $primary;
$thinBorder2: rhythm(.3) solid $primary;
$thinBorderWhite: rhythm(.1) solid $secondary;
$easingFast: cubic-bezier(0.19, 1, 0.22, 1);
