body {
    font-family: $base-font-family;
    color: $primary;
}
p,
a {
    @include adjust-font-size-to(ms(0));
}
p {
    padding-bottom: rhythm(1);

    & a {
        &:hover {
            border-bottom: 1px solid inherit;
        }
    }
}
a {
    color: $primary;
    text-decoration: none;
    border-bottom: 1px solid $primary;

    &:hover {
        opacity:0.8;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: normal;
}
h6 {
    @include adjust-font-size-to(ms(0));
}
h5 {
    @include adjust-font-size-to(ms(0));
    font-weight: 600;
}
h4 {
    @include adjust-font-size-to(ms(1));
}
h3 {
    @include adjust-font-size-to(ms(2));
}
h2 {
    @include adjust-font-size-to(ms(3), 1.5);
    margin-bottom: rhythm(1);
}
h1 {
    @include adjust-font-size-to(ms(4), 2.4);
}
small {
    font-size: ms(-1);
    padding-top: rhythm(1);
    display: block;
}
strong {
    font-weight: bold;
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {
    h5 {
        @include adjust-font-size-to(ms(1));
    }
    h4 {
        @include adjust-font-size-to(ms(2));
    }
    h3 {
        @include adjust-font-size-to(ms(3));
    }
    h2 {
        @include adjust-font-size-to(ms(4), 1.5);
        margin-bottom: rhythm(2);
    }
    h1 {
        @include adjust-font-size-to(ms(6), 2.4);
    }
}
@include breakpoint($normal) {

}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
